@font-face {
    font-family: myFirstFont;
    src: url('./styles/bilboinc.regular.ttf');
}

body{
    background-image: url("https://ak9.picdn.net/shutterstock/videos/20107759/thumb/1.jpg");
    font-family: myFirstFont;
    font-size: 1.4em;
}

.navbar-btn {
    float: left;
    clear: none;
    margin-right: 13px;
}

.logout:hover {
    cursor: pointer;
}

#navbar li a {
    text-decoration: none;
    color: white;
}

#navbar {
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 25px;
    list-style: none;
}

.image-link {
    width: 150px;
    height: 150px;
}

.game-title {
    font-size: 1.2em;
    padding-left: 26%;
}

.game-link {
    float: left;
    clear: none;
}

.user-display {
    float: right;
    clear: none;
    color: white;
}