@font-face {
    font-family: appFont;
    src: url('./styles/fonts/risestarhand.semibold.ttf');
}

@font-face {
    font-family: floralCapitals;
    src: url('./styles/fonts/floral-capitals.regular.ttf');
}

@font-face {
    font-family: crawley;
    src: url('./styles/fonts/crawley.regular.ttf');
}

body{
    background-image: -webkit-linear-gradient(left, rgb(44, 41, 61) , rgb(83, 97, 109) );
    font-family: appFont;
    color: #26A69A;
    font-size: 1.4em;
    height: 100vh;
}

input {
    border-radius: 7px;
    background-color: aliceblue;
    padding: 7px;
}

.navbar-btn {
    float: left;
    clear: none;
    margin-right: 13px;
}

.navbar-btn:hover{
    cursor: pointer;
}

.history{
    float: right;
    clear: none;
    color: white;
    margin-left: 13px;
}

.logout {
    float: right;
    clear: none;
    color: white;
    margin-left: 13px;
}

#navbar li a {
    text-decoration: none;
    color: white;
}

#navbar {
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 5vh;
    list-style: none;
}

.image-link {
    width: 150px;
    height: 150px;
}

.game-title {
    font-size: 1.2em;
}

.navbar-text {
    float: left;
    clear: none;
    margin-right: 13px;
}

.drawing-field {
    background-color: white;
}

.color {
    width: 10%;
    height: 50px;
    float: left;
    clear: none;
}