@font-face {
    font-family: appFont;
    src: url('./styles/risestarhand.semibold.ttf');
}

body{
    background-image: -webkit-linear-gradient(left, rgb(44, 41, 61) 50%, rgb(83, 97, 109) 50%);
    font-family: appFont;
    color: rgb(133, 231, 24);
    font-size: 1.4em;
    height: 100vh;
}

.navbar-btn {
    float: left;
    clear: none;
    margin-right: 13px;
}

.logout:hover {
    cursor: pointer;
}

#navbar li a {
    text-decoration: none;
    color: white;
}

#navbar {
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 25px;
    list-style: none;
}

.image-link {
    width: 150px;
    height: 150px;
}

.game-title {
    font-size: 1.2em;
    padding-left: 26%;
}

.game-link {
    float: left;
    clear: none;
}

.user-display {
    float: right;
    clear: none;
    color: white;
}

.drawing-field {
    background-color: white;
}

.color {
    width: 50px;
    height: 50px;
    float: left;
    clear: none;
}