canvas {
    background-image: url("https://pre00.deviantart.net/5f03/th/pre/i/2012/366/8/7/old_book_page_by_daviddiazolivares-d5px6my.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 70%;
    margin-top: 10px;
}

.popup-canvas{
    width: 100%;
    height: 100%;
}