.game-screen {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows:  1fr 1fr; 

    grid-template-areas:
    " gi gb gb "
    " gi gb gb ";
    grid-gap: 10px
}

.game-info{
    grid-area: gi;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows:  1fr 1fr 1fr; 

    grid-template-areas:
    " t "
    " p "
    " b ";

    grid-gap: 10px;
}

.themeWord-title{
    grid-area: t;
}

.players{
    grid-area: p;
}

.game-btns{
    grid-area: b;
}

.game-board {
    grid-area: gb;
}

.start-fin-btn {
    background-color: #89F453;
    border: transparent;
    padding: 5px 15px;
    border-radius: 13px;
}

.start-fin-btn:active {
    background-color: #65C138;
}

.pass-img {
    background-image:url("./icons/pass-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.invite-img {
    background-image:url("./icons/singin-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.start-img {
    background-image:url("./icons/play-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.finish-img {
    background-image:url("./icons/stop-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
}