.game-screen {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows:  1fr 1fr; 

    grid-template-areas:
    " gi gb gb gb "
    " gi gb gb gb ";
    grid-gap: 10px
}


.game-info{
    grid-area: gi;
    text-align: center;
    
}

.game-board {
    grid-area: gb;
}

.start-fin-btn {
    background-color: #89F453;
    border: transparent;
    padding: 5px 15px;
    border-radius: 13px;
}

.start-fin-btn:active {
    background-color: #65C138;
}